<form action="/processTweets" method="post">
  Tweet must contain :<input type="text" name="term">
  <br/>
  
  Suburb:
  <select id="select-suburb" name="suburbId">
  	<% @suburbs.each do |suburb| %>
      <option value="<%= "#{suburb["id"]}" %>"><%= "#{suburb["name"]}" %></option>
	<% end %>
  </select>
  <br/>
  
  Cafe:
  <select id="select-cafe" name="cafeId">
  	<% @cafes.each do |cafe| %>
      <option value="<%= "#{cafe["_id"]}" %>"><%= "#{cafe["name"]}" %></option>
	<% end %>
  </select>
  <br/>
  
  <input type="submit">
</form>

<script>
$(document).ready(function() {
	$("#select-suburb").bind("change", function(event, ui) {
          $.getJSON("/cafes/" + $("#select-suburb option:selected").val(), function(data){
		     	var html = '';
			    var len = data.length;
			    for (var i = 0; i< len; i++) {
			        html += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
			    }
			    $("#select-cafe").html(html);
		  })
    });
});
</script>