<form action="/processTweets" method="post">
  Tweet must contain :<input type="text" name="term">
  <br/>
  
  Suburb:
  <select name="suburbId">
  	<% @suburbs.each do |suburb| %>
      <option value="<%= "#{suburb["id"]}" %>"><%= "#{suburb["name"]}" %></option>
	<% end %>
  </select>
  <br/>
  
  <input type="submit">
</form>