<div class="menu-left">
	<form action="/processTweets" method="post">
		<div class="label">Suburb</div>
		<div class="value">
			<select id="select-suburb" name="suburbId">
			  	<% @suburbs.each do |suburb| %>
			      <option value="<%= "#{suburb["id"]}" %>"><%= "#{suburb["name"]}" %></option>
				<% end %>
			</select>
		</div>
		<div class="clear"></div>
		
		<div class="label">Cafe</div>
		<div class="value">
			  <select id="select-cafe" name="cafeId">
			  	<% @cafes.each do |cafe| %>
			      <option value="<%= "#{cafe["_id"]}" %>"><%= "#{cafe["name"]}" %></option>
				<% end %>
			  </select>
		</div>
		<div class="clear"></div>
	</form>
</div>

<div id="map-canvas" class="map"></div>

<div class="clear"></div>

<script>
	$(document).ready(function() {
		$("#select-suburb").bind("change", function(event, ui) {
	          loadSuburb();
	    });
	    
	    $('#map-canvas').gmap().bind('init', function(event, map) { 
			loadSuburb();
		});
	});

	function loadSuburb() {
        $.getJSON("/places/" + $("#select-suburb option:selected").val()+"/cafe", function(data){
		     	$('#map-canvas').gmap('clear', 'markers');
		     	var html = '';
			    var len = data.length;
			    for (var i = 0; i< len; i++) {
			        html += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
			        $('#map-canvas').gmap('addMarker', { 
						'position': new google.maps.LatLng(data[i].lat, data[i].lon), 'bounds': true 
					}).click(function() {
						var infoText = 'Cafe: ' + data[i].name;
						alert(infoText);
						$('#map-canvas').gmap('openInfoWindow', { 'content': infoText }, this);
					});
			    }
			    $("#select-cafe").html(html);
		});
		
		$.getJSON("/suburb/" + $("#select-suburb option:selected").val(), function(suburb){
			var suburbGeoCode = new google.maps.LatLng(-suburb.lat, suburb.lon);
			$('#map-canvas').gmap('option', 'center', suburbGeoCode);
			$('#map-canvas').gmap('option', 'zoom', 15);
		});
	}
</script>