<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= @title + ' | CrowdSourced' %></title>
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>
<body>
<header>
  <hgroup>
    <h1><a href="/">CROWDSOURCED</a></h1>
    <h2>Brought to you by all of ye</h2>
  </hgroup>
</header>

<div id="main">
  <%= yield %>
</div>

<footer>
  <p><small>this is a footer</small></p>
</footer>
</body>
</html>