<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= @title + ' | CrowdSourced' %></title>
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
  
  <script src="/js/jquery-1.7.2.min.js"></script>
</head>
<body>
<header>
  <hgroup>
    <img src="/images/crowdsourced.png" alt="Crowd Sourced"/>
    <h2>Brought to you by all of ye</h2>
  </hgroup>
</header>

<div id="main">
  <%= yield %>
</div>

<footer>
  <p><small>this is a footer</small></p>
</footer>
</body>
</html>
